<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :query %>
<% end %>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<div id="music">
  <%= render 'music' %>
</div>

<div id="queue">
  <%-# render 'queue' %>
</div>