<i class="close icon"></i>
<div class="header">
  Create New Playlist
</div>
<div class="content">
  <div class="ui form">
    <%= simple_form_for(User.find(current_user.id).playlists.new, remote: true) do |f| %>
      <%= f.input :name, wrapper_html: { class: 'field' }%>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <%= f.button :submit, class: 'ui button'%>
      </div>
    <% end %>
  </div>
</div>
