<h1>Artist</h1>
<div class="grid data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'">
  <% @search['artist'].results.each do |artist| %>
    <div class="grid-item">
      <% if artist.image.present? %>
        <img src="<%= artist.image['url'] %>" alt="" class="image">
      <% end %>
    </div>
  <% end %>
</div>

<h1>Song</h1>
<p>
  <%= @search["tracks"].results %>
</p>
<h1>Album</h1>
<p>
  <%= @search["album"].results %>
</p>
